
div.postWrapper {
    margin: 5px;
}

div.post {
    margin: 0 auto;
    background: white;
    -webkit-border-radius: 8px;
    padding: 8px;
    color: black;
    max-width: 480px;
}

div.post a {
    color: steelblue;
    text-decoration: none;
}
div.post a:hover {
    text-decoration: underline;
}


div.post ul {
    background: none;
    color: black;
    font: inherit;
    border: none;
    margin: 5px 10px;
}
div.post ul li {
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    list-style-type: disc;
    padding: 3px 5px;
    margin-left: 18px;
    marker-offset: 5px;
    overflow: visible;
}
div.post ul li a {
    font: inherit;
    display: inline;
}


div.photo {
    text-align: center;
    display: none;
}

div.photo img {
    max-width: 100%;
    min-width: 60%;
}

div.post > div.user {
    border-bottom: solid 1px black;
    margin-bottom: 3px;
    margin-top: -5px;
}

div.post > div.user > a {
    text-decoration: none;
}

div.post blockquote {
    margin: 0;
    margin-top: 5px;
    border-left: 5px solid lightgray;
    padding: 5px;
    padding-bottom: 3px;
    padding-right: 0;
}

/* @group ThinToolbar */
.thinToolbar {
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #000;
    padding: 10px;
    height: 30px;
    background: url(img/toolbar.png) #000000 repeat-x;
    position: relative;
}
.black-translucent .thinToolbar {
	margin-top: 20px;
}
.thinToolbar > h1 {
    position: absolute;
    /* overflow: hidden; */
    left: 50%;
    top: 10px;
    line-height: 0.7em;
    margin: 1px 0 0 -75px;
    height: 25px;
    font-size: 15px;
    width: 150px;
    font-weight: bold;
    text-shadow: rgba(0,0,0,1) 0 -1px 1px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}

/* @group Compactindividual */
ul.compactindividual {
    border: 0;
    background: none;
    clear: both;
    overflow: hidden;
    padding-bottom: 3px;
    -webkit-box-shadow: none;
    margin-top: 5px;
    margin-bottom: 5px;
}
ul.compactindividual li {
    background: #4c4d4e;
    border: 1px solid #333;
    font-size: 12px;
    text-align: center;
    -webkit-border-radius: 5px;
    -webkit-box-sizing: border-box;
    width: 24%;
    float: left;
    display: block;
    padding: 5px 5px 5px 5px;
    -webkit-box-shadow: rgba(0,0,0,.2) 1px 1px 3px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
}
ul.compactindividual li + li {
    float: right;
}
ul.compactindividual li a {
    color: #fff;
    line-height: 14px;
    margin: -5px;
    padding: 3px;
    -webkit-border-radius: 8px;
}
/* @end */

div#indicatorArea {
    background: none;
    color: black;
    font: inherit;
    border: none;
    margin: 5px;
    position: absolute;
    max-width: 50%;
    min-width: 1px;
    z-index: 100;
}
div#indicatorArea ul{
    list-style-type: disc;
    margin: 0;
    pardding: 0;
    border: none;
}
div#indicatorArea ul li{
    font: inherit;
    border: none;
    list-style-type: none;
    margin: 1px;
    padding: 2px;
    display: list-item;
    overflow: hidden;

    -webkit-border-radius: 2px;
    background: white;
    color: gray;
    font-size: 12px;
    font-weight: normal;
    opacity: 0.8;
}

div#indicatorArea ul li img{
    width: 10px;
}

div.stroke {
    background: transparent;
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 480px;
    color: white;
    text-shadow: 0px 0px 10px black;
}
